<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Navbar (sit on top) -->
<style>
.mainbar{
    margin-left: 10px;
    margin-top:70px;
}
.flstatus{
    margin-top:5px;
    margin-left:0px;
}
</style>
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/home" class="w3-bar-item w3-button"><b>Flights</b> </a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/status" class="w3-bar-item w3-button">Status</a>
      <a href="/entry" class="w3-bar-item w3-button">Entry</a>
    </div>
  </div>
</div>
<div class="mainbar">
<h2>Flight entry</h2>
<form method="post" action="/node/add">
    <label>Flightname</label>
    <input type="text" name="flightname">
    <br>
    <label>company</label>
    <input type="text" name="company">
    <br>
    <input type="submit" value="submit">
</form>
<br><br>
<h2>airport entry</h2>
<form method="post" action="/node/fadd">
  <label>Airport name</label>
  <input type="text" name="airportname">
  <br>
  <label>city</label>
  <input type="text" name="city">
  <br>
  <label>Country</label>
  <input type="text" name="country">
  <br>
  <input type="submit" value="submit">
</form>
<br><br>
<h2>Flight Information</h2>
<form method="post" action="/node/set">
  <label>flight name</label>
  <input type="text" name="flightname">
  <br>
  <label>Departs</label>
  <input type="text" name="depname">
  <br>
  <label>Arrives</label>
  <input type="text" name="arrname">
  <br>
  <input type="submit" value="submit">
</form>
</div>
