<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mainbar{
    margin-left: 10px;
    margin-top:70px;
}
.flstatus{
    margin-top:5px;
    margin-left:0px;
}
</style>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/home" class="w3-bar-item w3-button"><b>Flights</b> </a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/status" class="w3-bar-item w3-button">Status</a>
      <a href="/entry" class="w3-bar-item w3-button">Entry</a>
    </div>
  </div>
</div>
<div class="mainbar">
    <h2>Welcome,to the Flight system</h2>
</div>
