<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Navbar (sit on top) -->
<style>
.mainbar{
    margin-left: 10px;
    margin-top:70px;
}
.flstatus{
    margin-top:5px;
    margin-left:0px;
}
</style>
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/home" class="w3-bar-item w3-button"><b>Flights</b> </a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/status" class="w3-bar-item w3-button">Status</a>
      <a href="/entry" class="w3-bar-item w3-button">Entry</a>
    </div>
  </div>
</div>


<div class="mainbar">
  <h2>Flights</h2>
  <div class="flstatus">
  <ul>
  <% flight.forEach(function(fd){%>
     <li>  <%= fd.flightname+"     "+fd.company%> </li>
  <%})%>
  </ul>
  <h2>Airports</h2>
  <ul>
  <% airport.forEach(function(ad){%>
    <li>  <%= ad.airportname+"     "+ad.city+"      "+ad.country%> </li>
  <%})%>
  </ul>
</div>
</div
